NETWORK_SIZE 10

#Nombre de simulations consecutives
simulation.experiments 1

#date de fin de la simulation
simulation.endtime 500 * NETWORK_SIZE * NETWORK_SIZE

#taille du reseau
network.size NETWORK_SIZE

# ::::: LAYERS :::::

#definition de la couche transport
protocol.transport fr.usmb.dht.HWTransport

#latence minimale
protocol.transport.mindelay 50

#latence maximale
protocol.transport.maxdelay 100

#definition de la couche applicative (le hello world)
protocol.applicative fr.usmb.dht.DhtNode

#liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer fr.usmb.dht.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.dhtProtocolPid applicative

# ::::: CONTROLLER :::::

#pour controller les événements
control.node fr.usmb.dht.Controller

#pour que l'événement précédent soit bien finit avant le suivant.
control.node.step NETWORK_SIZE * 100 * 1.25
